<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台模板</title>
    <div th:include="commons :: thead"></div>
</head>
<body>

<div th:include="commons :: badmin"/>


<div class="admin">
    <div th:replace="commons :: tleftSidebar"/>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <!-- col start -->
            <div class="am-u-md-12">
                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd">发布公告</div>
                    <div class="am-panel-bd ">
                        <form id="notice_form" class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <label for="doc-ipt-3"
                                       class="am-u-sm-3 am-form-label am-text-right am-padding-right-0">主题</label>
                                <div class="am-u-sm-9">
                                    <input name="topic" type="text" id="doc-ipt-3" placeholder="输入你的主题">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-ipt-pwd-2"
                                       class="am-u-sm-3 am-form-label am-text-right am-padding-right-0">内容</label>
                                <div class="am-u-sm-9">
                                <textarea name="content" class="am-u-md-10 form-control" rows="5"
                                          id="doc-ipt-pwd-2"></textarea>
                                </div>
                            </div>

                        </form>
                        <button onclick="addThisNotice()" style="margin-left: 30%; width: 30%;" class="am-btn am-btn-secondary ">发布
                        </button>

                    </div>
                </div>
                <!--                <div class="card-box">-->
                <!--                    <h4 class="header-title m-t-0 m-b-30"></h4>-->
                <!--                    -->

                <!--                </div>-->
            </div>
            <!-- col end -->

        </div>
    </div>


</div>


<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>
<div th:include="commons :: tscript"></div>
<script type="text/javascript" th:src="@{assets/js/charts/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/charts/indexChart.js}"></script>
<script>
    layui.use('layer', function () {
    });

    function addThisNotice() {
        layer.open({
            type: 0
            , title: "确认发布"
            , offset: "auto" //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
            , id: 'layerDemo' + 1 //防止重复弹出
            , content: "是否发布"
            , btn: ['是', '否']
            , yes(index, layero) {
                $.ajax({
                    url: "[[${#httpServletRequest.requestURL}]]" + "/addNotice",
                    method: "post",
                    data: {
                        topic: $("#doc-ipt-3").val(),
                        content: $("#doc-ipt-pwd-2").val()
                    },
                    datatype: "json",
                    success: function (data) {
                        //根据后台返回的参数，来进行判断
                        if (data != null) {
                            layer.alert('发布成功', {icon: 1, title: '提示'}, function (i) {
                                layer.close(i);
                                layer.close(index);//关闭弹出层
                                $('#notice_form')[0].reset()
                            })
                        }
                    }
                })
            }
            , btn2: function () {
                layer.closeAll();
                $('#notice_form')[0].reset()
            }
            , btnAlign: 'c' //按钮居中
            , shade: 0 //不显示遮罩
        });
    }
</script>
</body>


</html>
